*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body{
     background-color: rgb(35, 35, 35);
     color: aliceblue;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
}
.card{
     max-width: 300px;
     padding: 10px;
     box-shadow: 0px 2px 14px 0px #9283fe;
}
