.code-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.5rem;
  width: fit-content;
  min-width: 40rem;
  padding: 1rem 1.7rem;
  border-radius: 7px;
  background-color: var(--color-dark);
  box-shadow: 0px 0px 7px 1px var(--color-primary-light);
}
.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.code-language {
  font-size: var(--fontSize-xs);
  color: var(--color-primary-light);
}
.code-content {
  font-size: var(--fontSize-sm);
  color: var(--color-primary-light);
  /* white-space: pre-line; */
}
.code-copied{
  display: flex;
  justify-content: center;
  align-items: center;
}
.code-copy-img {
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.code-copy-img:hover {
  transform: scale(1.3);
}
.code-copy-img:active {
  transform: scale(1);
}
.text-copied{
  transition: all .2s ease-in;
  font-size: var(--fontSize-sm);
  color: var(--color-primary-light);
  font-weight: 200;
}
@media (max-width: 38.75rem){
  /* 620 px / 16px = 38.75rem */
  html{
    font-size: 43.75%;
    /* 6px / 16px = 37.5% */
    /* 7px / 16px = 43.75% */
  }
  .code-container {
  min-width: 30rem;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
}
}